<!DOCTYPE html>
<html>
    <%- partial('partials/_head.ejs') %>
    <body>
        <div class="container">
            <h1 class="jumbotron">404</h1>
            <p>Oops. Whatever you're looking for isn't here.</p>
        </div>
    </body>
</html>