<!--
    See _layout.jade
-->
<%- partial("_nav") %>
<div class="container">
    <dl>
        <dt>Email:</dt>
        <dd><a href="mailto:write2jc.se@gmail.com">write2jc.se@gmail.com</a></dd>
        <dt>Phone:</dt>
        <dd>available by request</dd>
        <dt>Availability:</dt>
        <dd><iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&showTitle=0&showTabs=0&mode=WEEK&src=ZmEyMTBkMmQxNWI2OTk1YjM1YWI0ODJhN2YyYjQ5OGM0NGI3OWM3MjMyYTYyM2JkYjBkYjhkZDAzMzNiOTgxNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23616161" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></dd>
    </dl>
</div>